<div class="container">
  <h2 class="text-center">My booking requests</h2>
  <% @reservations.each do |request| %>
    <div class="message">
      <img class="avatar-small" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <div class="message-name">
        <h3> <%=  request.user.name %></h3>
        <p> <%= request.number_of_people %> people </p>
      </div>
      <div class="message-body">
        <p><strong> <%=  request.restaurant.name %></strong></p>
        <p>
         From  <%= request.start_date %> to <%= request.end_date %>
        </p>
      </div>
        <p class="price"> <%= request.total_price %> € </p>
      <div class="message-status text-center">
        <div class="form-group">
          <%= render 'form', booking: request %>
        </div>
      </div>
      <div>
        <%= link_to ('<i class="fa fa-trash"></i>').html_safe, restaurant_booking_path(request.restaurant, request), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-blue'%>
      </div>
    </div>
  <% end %>
</div>

<!-- #f5f5f5 -->
