<div class="container">


  <div class="banner-resto">

      <h1>My restaurants </h1>

      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Name </th>
            <th>Category</th>
            <th>Address</th>
            <th>Price</th>

          </thead>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>

              <td><%= restaurant.category %></td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.price %></td>
              <td><%= link_to "Edit the restaurant", edit_restaurant_path(restaurant), class: "btn btn-primary btn-lg" %><td>
            </tr>


          <% end %>
    </div>
        </tbody>
      </table>





  </div>


<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary btn-lg" %>
</div>
