<div class="container">



      <h1>My restaurants </h1>
      <% @restaurants.each do |restaurant| %>

      <div class="card2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= restaurant.photo_url %>');">
  <div class="card-category2"> <%= restaurant.category.capitalize %> </div>
  <div class="card-description2">
    <h2><%= restaurant.name.upcase %> <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe, edit_restaurant_path(restaurant) %></h2>
    <p><%= restaurant.address %> -  <%= restaurant.price %></p>
  </div>


</div>














          <% end %>







<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-blue" %>
</div>
