<div class="form-group">
  <%= simple_form_for [@restaurant, @booking] do |f| %>
    <%= f.input :number_of_people %>
    <%= f.date_field :start_date %>
    <%= f.date_field :end_date %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
